@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    background-color: #1e1e1e;
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0;
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blogs {
    text-align: left;
    flex-basis: 80%;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.blog-post-heading {
    display: flex;
}

.blog-post-heading *{
    flex-basis: 50%;
    text-decoration: none;
    color: inherit;
}

.blog-post-heading:hover {
    text-decoration: underline;
}

.blog-post h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Crimson Pro", emoji;
    color: #f5f5f5;
}

.blog-post .date {
    color: #a0a0a0;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.blog-post-content {
    display: flex;
    flex-direction: row-reverse;
}
.blog-post-content *{
    flex-basis: 50%;
}

.blog-post .content {
    font-size: 22px;
    font-family: inherit;
    font-weight: 200;
    line-height: 1.6;
    color: #ddd;
    padding-block: 10px;
}

.blog-post .image-container {
    margin-top: 20px;
    display: flex;
}

.blog-post {
    position: relative;
}

.blog-post:not(:last-child)::after {
    content: "";
    position: absolute;
    border-top: 3px solid #ff9a44;
    inset: 0;
    z-index: -1;
}

.image-container img {
    display: block;
    width: 750px;
    object-fit: cover;
    aspect-ratio: 2;
    transition: opacity 0.3s ease;
}

.image-container img:hover {
    cursor: pointer;
    opacity: 0.8; /* Add a visual effect to confirm hover */
}

.read-more-link {
    color: inherit; /* Ensure it's not being overridden */
    transition: color 0.3s ease;
    text-decoration: none;
}

.read-more-link:hover {
    cursor: pointer;
    color: rgb(204, 215, 252);
}